/* RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
  margin: .2rem;
  height: 100%;
	display: flex;
  flex-direction: column;
}

img {
	max-width: 100%;
}

/* HEADER */
header {
  display: flex;
  justify-content: right;
  align-items: center;
  background: #3A0CA3;
}

.heading {
  color: #fff;
  padding: .5rem 25rem .5rem;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
}


