/* RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
  margin: .4rem;
  height: 100%;
	display: flex;
  flex-direction: column;
}

img {
	max-width: 100%;
}

/* HEADER */
header {
  display: flex;
  justify-content: right;
  align-items: center;
  background: #3A0CA3;
}

.heading {
  color: #fff;
  padding: .5rem 20rem .5rem;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
  margin-top: .5rem;
}

/* LOCATIONS */
.locations {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
}

.locations h1 {
  margin-bottom: .5rem;
  font-size: 2rem;
}

.locations input {
  height: 2rem;
  padding-left: .2rem;
}

.search-button {
  background: #5887FF;
  color: #fff;
  font-size: 1rem;
  border: none;
  margin: .8rem 0;
  padding: .5rem 0;
  border-radius: 3px;
}

.locations hr {
  margin: .3rem 0;
}

.cities {
  display: flex;
  flex-direction: column;
}

.city-button {
  border: none;
  font-size: 1rem;
  background: #ccc;
  color: #000;
  text-align: center;
  padding: .5rem 0;
  margin-top: .6rem;
  border-radius: 3px;
}

/* WEATHER SECTION */
.weather-section {
  flex: 1 1 0%;
  margin: .2rem 6rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.todays-forecast {
  border: 1px solid #000;
  padding-left: .5rem;
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
}

.todays-forecast p {
  font-size: 1.25rem;
  margin: .75rem 0;
}

.city-description {
  display: flex;
  padding-top: .5rem;
  align-items: center;
}

.city-description h2 {
  font-size: 2rem;
}

#todays-icon {
  margin-left: 1.75rem;
}

/* 5-DAY FORECAST */
.forecast h3 {
  padding-top: .75rem;
  font-size: 1.75rem;
}

.five-day {
  display: flex;
  padding-top: .3rem;
  align-items: center;
  justify-content: space-between;
}

.day {
  background: #343d4d;
  color: #fff;
  padding: .5rem 1rem 1rem .3rem;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.day h4 {
  font-size: 1.3rem;
}

.day p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

/* GLOBAL */
.hidden {
  display: none;
}
